@{
    ViewData["Title"] = "UserManagement";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}

@model Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable<phongchongtoipham.Models.User>


<main>
    <div class="qltk">
        <h2 class="title">Quản lý tài khoản</h2>
        <button id="AddFormButton" class="btn btn-primary">Thêm tài khoản</button>
        <div id="AddForm" class="formContent">
            <h2>Thêm tài khoản</h2>
            <div id="AddresultMessage"></div>
            <form id="AddformAJAX">
                <div>
                    <label>Tên tài khoản:</label>
                    <input id="UserAddName" type="text" required />
                </div>
                <div>
                    <label>Họ tên:</label>
                    <input id="UserAddFullName" type="text" required />
                </div>
                <div>
                    <label>Email:</label>
                    <input id="UserAddEmail" type="text" required />
                </div>
                <div>
                    <label>Số điện thoại:</label>
                    <input id="UserAddPhone" type="text" required />
                </div>
                <div>
                    <label>Mật khẩu:</label>
                    <input id="UserAddPass1" type="text" required />
                </div>
                <div>
                    <label>Lặp lại mật khẩu:</label>
                    <input id="UserAddPass2" type="text" required />
                </div>
                <div>
                    <label>Vai trò:</label>
                    <input id="UserAddRole" type="text" required />
                </div>

                <div class="btn-group">
                    <button id="submitAddform" type="button" class="btn btn-first">Thêm</button>
                    <button id="CloseAddForm" type="button" class="btn btn-second">Đóng</button>
                </div>
            </form>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Password</th>
                    <th>Role</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.UserName</td>
                        <td>@item.FullName</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Password</td>
                        @if (item.Role == 99)
                        {
                            <td>Admin</td>
                        }
                        else
                        {
                            <td>User</td>
                        }
                        <td>
                            <p class="EditFormButton">Sửa</p>
                            <div class="EditForm formContent">
                                <h2>Sửa tài khoản</h2>
                                <div id="resulteditMessage"></div>
                                <form>
                                    
                                    <label for="fullname">Họ tên:</label>
                                    <input type="text" class="fullname" value="@item.FullName" required>

                                    <label for="password">Mật khẩu:</label>
                                    <input type="text" class="password" value="@item.Password" required>

                                    <label for="email">Email:</label>
                                    <input type="text" class="email" value="@item.Email" required>

                                    <label for="phone">Số điện thoại:</label>
                                    <input type="text" class="phone" value="@item.Phone" required>
                                    
                                    <label for="role">Vai trò:</label>
                                    @if (item.Role == 99)
                                    {
                                        <input type="text" class="role" value="Admin" required>
                                    }
                                    else
                                    {
                                        <input type="text" class="role" value="User" required>
                                    }
                                    <input type="text" value="@item.UserName" class="editusername" style="display: none;" />

                                    <div class="btn-group">
                                        <button type="button" class="submitEditform btn btn-first">Lưu</button>
                                        <button type="button" class="CloseEditForm btn btn-second">Đóng</button>
                                    </div>
                                </form>
                            </td>
                        <td>
                            <form action="~/User/Remove" method="post" style="display: inline;">
                                <button type="submit" name="username" value="@item.UserName" class="btn btn-danger">Xóa</button>
                            </form>
                         </td>

                    </tr>                
                }
            </tbody>
        </table>
    </div>



</main>


<script src="~/lib/jquery/jquery.min.js"></script>
<script>
        <!--đóng form, sửa form-- >
        document.querySelectorAll(".EditFormButton").forEach(function (button) {
            button.addEventListener("click", function () {
                var editForm = this.nextElementSibling;
                editForm.style.display = "block";
                document.getElementById("overlay").style.display = "block";
            });
        });

    document.querySelectorAll(".CloseEditForm").forEach(function (button) {
        button.addEventListener("click", function () {
            var editForm = this.closest(".EditForm");
            editForm.style.display = "none";
            document.getElementById("overlay").style.display = "none";
        });
    });

    document.getElementById("AddFormButton").addEventListener("click", function () {
        document.getElementById("AddForm").style.display = "block";
        document.getElementById("overlay").style.display = "block";
    });

    document.getElementById("CloseAddForm").addEventListener("click", function () {
        document.getElementById("AddForm").style.display = "none";
        document.getElementById("overlay").style.display = "none";
    });

</script>
<script>
    $(document).ready(function () {
        $('#submitAddform').click(function () {
            var tusername = $('#UserAddName').val();
            var tfullname = $('#UserAddFullName').val();
            var temail = $('#UserAddEmail').val();
            var tphone = $('#UserAddPhone').val();
            var tpass1 = $('#UserAddPass1').val();
            var tpass2 = $('#UserAddPass2').val();
            var trole = $('#UserAddRole').val();

            $.ajax({
                url: '@Url.Action("Add", "User", new { area = "Admin" })',
                type: 'POST',
                data: { username: tusername, fullname: tfullname, email: temail, phone:tphone, password1: tpass1, password2: tpass2, role: trole },
                success: function (data) {
                    console.log(data.message);
                    $('#AddresultMessage').text(data.message);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.submitEditform').click(function () {
            var tusername = $('.editusername').val();
            var tfullname = $('.fullname').val();
            var temail = $('.email').val();
            var tphone = $('.phone').val();
            var tpass1 = $('.password').val();
            var trole = $('.role').val();

            $.ajax({
                url: '@Url.Action("Edit", "User", new { area = "Admin" })',
                type: 'POST',
                data: { username: tusername, fullname: tfullname, email: temail, phone: tphone, password: tpass1, role: trole },
                success: function (data) {
                    console.log(data.message);
                    $('#resulteditMessage').text(data.message);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>

